server:
  port: 8184

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus  # 暴露 prometheus 指标
  endpoint:
    prometheus:
      enabled: true  # 显式启用 prometheus endpoint
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: auth-service
    qos-enable: false
  registry:
    address: nacos://10.0.0.253:8848,10.0.0.253:8850,10.0.0.253:8852
#nacos://nacos-headless.default.svc.cluster.local:8848（k8s部署配置）
    register-mode: instance
  protocol:
    name: dubbo
    port: 29884
