server:
  port: 9700

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: gateway-service
    qos-enable: false
  registry:
    address: nacos://10.0.0.253:8848,10.0.0.253:8850,10.0.0.253:8852
    register-mode: instance
  protocol:
    name: dubbo
    port: 29700
    serialization: fastjson2

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG