server:
  port: 7009

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: ai-service
    qos-enable: false
  registry:
    address: nacos://127.0.0.1:8848,127.0.0.1:8850,127.0.0.1:8852
    register-mode: instance
  protocol:
    name: dubbo
    port: 27009
