server:
  port: 8086

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus  # 暴露 prometheus 指标
  endpoint:
    prometheus:
      enabled: true  # 显式启用 prometheus endpoint
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: order-service
    qos-enable: false
  registry:
    address: nacos://127.0.0.1:8848,127.0.0.1:8850,127.0.0.1:8852
    register-mode: instance
  protocol:
    name: dubbo
    port: 20886
  sentinel:
    enabled: true
