server:
  port: 8090

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: task-service
    qos-enable: false
  registry:
    address: nacos://10.0.0.253:8848,10.0.0.253:8850,10.0.0.253:8852
    register-mode: instance
  protocol:
    name: dubbo
    port: 20890
    serialization: fastjson2