server:
  port: 8090

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus  # 暴露 prometheus 指标
  endpoint:
    prometheus:
      enabled: true  # 显式启用 prometheus endpoint
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: task-service
    qos-enable: false
  registry:
    address: nacos://10.0.0.253:8848,10.0.0.253:8850,10.0.0.253:8852
    register-mode: instance
  protocol:
    name: dubbo
    port: 20890
    serialization: fastjson2
  security:
    serialize:
      allow-list:
        - com.zhouzhou.cloud.common.service.excepetions.*