server:
  port: 9400 # 原8094
  shutdown: graceful # 启用优雅停机

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true

dubbo:
  application:
    name: websocket-service
    qos-enable: false
  registry:
    address: nacos://10.0.0.253:8848,10.0.0.253:8850,10.0.0.253:8852
    register-mode: instance
  protocol:
    name: dubbo
    port: 24894
    serialization: fastjson2
  security:
    serialize:
      allow-list:
        - com.zhouzhou.cloud.common.service.excepetions.*

spring:
  lifecycle:
    timeout-per-shutdown-phase: 30s